<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>API Download</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <link th:href="@{css/style.css}" rel="stylesheet" />
    <script th:src="@{js/script.js}"></script>
</head>
<body>


<section class="hero is-fullheight-with-navbar is-danger">
    <div class="hero-body">
        <div class="">
            <p class="title">
                API Download
            </p>
            <p class="subtitle">
                App that allows you to download api from website
            </p>
            <a class="button is-dark is-small" onclick="sendRequestToDownload()">Download Posts</a>
            <p id="result"></p>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

</body></html>